<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>localhost</title>
    <link rel="stylesheet" href="/static/govuk-frontend-1.1.1.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">User research app</h1>
            {% block main %}{% endblock %}
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
